<div>
    <div [ngSwitch]="userService.loggedIn" style="text-align: center;">
      <h2>Rust Weapon Damage Calculator</h2>
      <h3>Author: Bartosz Ruta</h3>
      <div *ngSwitchCase="true" style="min-width: 300px; max-width: 50%; margin: 0 auto;">
        <br>
        <img src="{{ userService.user.photoUrl }}" class="avatar">
        <h3 style="font-size: 15px;">Welcome {{ userService.user.name }}!</h3>
        <p>{{ userService.user.email }}</p>
      </div>
      <div *ngSwitchDefault>
        <a class="btn btn-dark btn-outline-primary google" (click)="userService.signInWithGoogle()" role="button" style="text-transform:none">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Sign in with Google
        </a>
      </div>
    </div>
</div>
